* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  border: none;
}

a{
  text-decoration: none;
  color: #fff;
}

:root {
  font-size: 62.5%;
  --font-primary: "Clicker Script", cursive;
  --font-secondary:  "Playfair Display", serif;
}

html, input, button{
  font-family: var(--font-secondary);
}

body{
  font-size: 1.6rem;
  font-family: var(--font-secondary);
}